.admin-form {
    border: 1px solid dimgray;
    padding: 1rem;
    margin-top: 2rem;
    border-radius: 5px;
    background-color: rgb(149, 131, 131);
    color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    max-width: 100%;
    box-sizing: border-box;
}

.admin-form select {
    width: 100%;
    margin-bottom: 0.75rem;
    padding: 0.6rem;
    border-radius: 4px;
    border: 1px solid;
    background-color: darkgray ;
    color: white;
}

.admin-form button {
    padding: 0.6rem 1.2rem;
    background-color: dimgray;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
}
.admin-form button:hover {
    background-color: darkslategray;

}

@media (max-width: 768px) {
    .admin-form {
        padding: 0.8rem;
        margin-top: 1rem;
    }
}
