.footer {
  background-color: transparent !important;
  backdrop-filter: blur(5px) !important;
  -webkit-backdrop-filter: blur(5px) !important;
  color: white !important;
  position: relative !important;
  z-index: 1 !important;
}
